%tr
  %td.main_image_table
    %img{src: @src, alt: "main_image_text"}
  %td.main_image_table
    %p
      Xamarin Dev Days - Milan
      sceglie il nostro spazio Venini42 per organizzare la tappa milanese dell'evento.
