%tr
  %td.event_link
    =@title_event[0]
    =@desc_event[0]
    %a{href: "#{@link_event[0]}"}
      =@link_event[0]
  %td.event_link
    =@title_event[1]
    =@desc_event[1]
    %a{href: "#{@link_event[1]}"}
      =@link_event[1]
  %td.event_link
    =@title_event[2]
    =@desc_event[2]
    %a{href: "#{@link_event[2]}"}
      =@link_event[2]
%tr
  %td.event_link
    Table Data
    title
    link
  %td.event_link
    Table Data
    title
    link
  %td.event_link
    Table Data
    title
    link
