%tr
  %td.event_link
    Table Data
    title
    link
  %td.event_link
    Table Data
    title
    link
  %td.event_link
    Table Data
    title
    link
%tr
  %td.event_link
    Table Data
    title
    link
  %td.event_link
    Table Data
    title
    link
  %td.event_link
    Table Data
    title
    link
