!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title= @title
    -# fogli di stile
    :sass
      #maintable
        border: 1px solid red
        padding: 0
      td
        text-align: center
        font-family: arial
        font-size: 10px
        line-height: 13px
        color: #727272
        padding: 0
      #browser_view_link
        color: #727272
      #container
        border: 1px solid red
        width: 100%
      .main_image_table
        width: 50%
        max-width: 300px
        font-size: 16px
        line-height: 25px
      #call_to_action
        width: 100%
        padding: 15px
        background: gainsboro
      #other_events
        width: 100%
      .event_link
        font-size: 16px
        padding: 10px
      #footer_social
        border: 1px solid blue
        background-color: gainsboro
        width: 100%
      .social_link_icon
        padding: 20px 0
  %body
    %table#maintable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{style: "padding: 20px 0;"}
          %a#browser_view_link{href: "#"}
            View this email in your browser
      -# metti qui header logo
      %tr
        %td{width: "600"}
          %img#header{border: "0", height: "200", width: "600", src: "", alt: "header_logo"}
      %tr
        %td
          %table#container
            = main_image_text
      %tr
        %td
          %button#call_to_action
            call to action
      -# -if @date_event?
      %tr
        %td
          %table#other_events
            = other_events_link
      %tr
        %td
          %table#footer_social
            %tr
              %td{colspan: "2", style: "padding: 25px;"}
                %img{src: "https://gallery.mailchimp.com/5063c757c25f0606e64840c4b/images/f1d01695-9e19-4d60-aed6-7e553d333c45.png", width: "60", height: "60"}
                %img{src: "https://gallery.mailchimp.com/5063c757c25f0606e64840c4b/images/f1d01695-9e19-4d60-aed6-7e553d333c45.png", width: "60", height: "60"}
            %tr
              %td{colspan: "2"}
                <strong>Venini 42</strong> è un progetto realizzato da <strong>Mikamai</strong> e <strong>Linkme</strong>
            %tr
              %td.social_link_icon
                social mikamai
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
              %td.social_link_icon
                social linkme
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
            %tr
              %td{colspan: "2", style: "padding: 30px 0"}
                Copyright © 2016 Venini42, All rights reserved.
            %tr
              %td{colspan: "2", style: "padding-bottom: 30px"}
                Want to change how you receive these emails?
                %br/
                You can update your preferences or unsubscribe from this list
