!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title= @title
    -# fogli di stile
    :sass
      #maintable
        border: 1px solid red
      td
        text-align: center
        font-family: arial
        font-size: 10px
        line-height: 13px
        color: #727272
      #browser_view_link
        color: #727272
      #container
        border: 1px solid red
        width: 100%
      #footer_social
        border: 1px solid blue
        background-color: gainsboro
        width: 100%
      .social_link_icon
        padding: 20px 0
  %body
    %table#maintable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
      -# = pre_header_template
      %tr
        %td
          %a#browser_view_link{href: "#"}
            View this email in your browser
      -# header logo
      %tr
        %td{width: "600"}
          %img#header{border: "0", height: "200", width: "600", src: "", alt: "header_logo"}
      %tr
        %td
          %table#container
            %tr
              %td
                BODY
      %tr
        %td
          %table#footer_social
            %tr
              %td{colspan: "2", style: "padding: 25px;"}
                %img{src: "", width: "60", height: "60"}
                %img{src: "", width: "60", height: "60"}
            %tr
              %td{colspan: "2"}
                <strong>Venini 42</strong> è un progetto realizzato da <strong>Mikamai</strong> e <strong>Linkme</strong>
            %tr
              %td.social_link_icon
                social mikamai
                %img{src: "", width: "30", height: "30"}
                %img{src: "", width: "30", height: "30"}
                %img{src: "", width: "30", height: "30"}
              %td.social_link_icon
                social linkme
                %img{src: "", width: "30", height: "30"}
                %img{src: "", width: "30", height: "30"}
                %img{src: "", width: "30", height: "30"}
            %tr
              %td{colspan: "2", style: "padding: 30px 0"}
                Copyright © 2016 Venini42, All rights reserved.
            %tr
              %td{colspan: "2", style: "padding-bottom: 30px"}
                Want to change how you receive these emails?
                %br/
                You can update your preferences or unsubscribe from this list
