!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title= @title
    :sass
      $green: #78992e
      $yellow: #d99116
      $purple: #a35b7f
      $blue: #28a1a1
      $mika_color: #00b0a7
      #maintable
        padding: 0
        width: 600px
        font-family: "FrutigerLTW01-87ExtraBk", FrutigerLTW01-55Roman, helvetica, Arial, sans-serif
      td
        text-align: center
        font-size: 12px
        line-height: 13px
        color: black
        padding: 0
      #browser_view_link
        color: #727272
      #container
        width: 100%
        padding: 50px 0
      .main_image_table
        width: 50%
        max-width: 300px
        font-size: 16px
        line-height: 25px
        img
          max-width: 90%
      #main_text_table
        padding: 0 10px 10px 10px
        vertical-align: top
        h3
          text-align: left
          margin: 0
        p
          text-align: left
      .event_date_title
        font-weight: bold
      #call_to_action
        width: 100%
        display: block
        height: 100%
        padding: 15px 0
        border: 0
        font-size: 16px
        color: black
        text-decoration: none
      #other_events
        width: 100%
      .event_link_container
        font-size: 16px
        padding: 10px
        line-height: 20px
        width: 180px
        text-align: center
      .event_link
        text-decoration: none
        color: $mika_color
      #footer_social
        background: url(http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Background-Footer-Newsletter-Mika.jpg)
        width: 100%
      .social_link_icon
        width: 300px
        text-decoration: none
  %body
    %table#maintable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{style: "padding: 20px 0;"}
          %a#browser_view_link{href: "#"}
            View this email in your browser
      -# metti qui header logo
      %tr
        %td{width: "600"}
          %img#header{border: "0", height: "200", width: "600", src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Header-Newsletter-Mikamai_2.jpg", alt: "header_logo"}
      %tr
        %td
          %table#container
            = main_image_text
      -# %tr
      -#   %td{style: "background: gainsboro;"}
      -#     %a#call_to_action{href: "#{@link}"}
      -#       Vai all'evento
      %tr
        %td
          %table#other_events
            = other_events_link
      %tr
        %td
          %table#footer_social
            %tr
              %td{colspan: "2", style: "padding: 25px;"}
                %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_Mikamai.jpg", width: "60", height: "60"}
                %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_LinkMe.jpg", width: "60", height: "60"}
            %tr
              %td{colspan: "2", style: "padding-bottom: 30px;"}
                <strong>Venini 42</strong> è un progetto realizzato da <strong>Mikamai</strong> e <strong>LinkMe</strong>
            %tr
              %td.social_link_icon
                %a{href: "https://twitter.com/Mikamai", class: "social_link_icon"}
                  %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_Twitter.png", width: "30", height: "30"}
                %a{href: "https://www.facebook.com/mikamai/", class: "social_link_icon"}
                  %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_FB.png", width: "30", height: "30"}
                %a{href: "https://www.linkedin.com/company/318048", class: "social_link_icon"}
                  %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_LinkedIn.png", width: "30", height: "30"}
                %p
                  Mikamai
              %td.social_link_icon
                %a{href: "https://twitter.com/LinkMeSRL", class: "social_link_icon"}
                  %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_Twitter.png", width: "30", height: "30"}
                %a{href: "https://plus.google.com/+LinkMeSRLMilano", class: "social_link_icon"}
                  %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_Google_Plus.png", width: "30", height: "30"}
                %a{href: "https://www.linkedin.com/company/969109", class: "social_link_icon"}
                  %img{src: "http://mikamaiblog.s3.amazonaws.com/uploads/Newsletter/Icona_LinkedIn.png", width: "30", height: "30"}
                %p
                  LinkMe
            %tr
              %td{colspan: "2", style: "padding: 30px 0;"}
                Copyright © 2016 Venini42, All rights reserved.
            %tr
              %td{colspan: "2", style: "padding-bottom: 30px;"}
                Want to change how you receive these emails?
                %br/
                You can update your preferences or unsubscribe from this list
